<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Codex</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/csv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CSV</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.comma-separated-values-text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tsv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/tab-separated-values</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TSV</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tab-separated-values-text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xls</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.ms-excel</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XLS</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xlsm</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.ms-excel.sheet.macroEnabled.12</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XLSM</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xlsx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XLSX</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Codex</string>
	<key>CFBundleIconFile</key>
	<string>electron.icns</string>
	<key>CFBundleIconName</key>
	<string>Icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.openai.codex</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Codex</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>26.519.41501</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Codex</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>codex</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3044</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTSDKBuild</key>
	<string>24F74</string>
	<key>DTSDKName</key>
	<string>macosx15.5</string>
	<key>DTXcode</key>
	<string>1640</string>
	<key>DTXcodeBuild</key>
	<string>16F6</string>
	<key>ElectronAsarIntegrity</key>
	<dict>
		<key>Resources/app.asar</key>
		<dict>
			<key>algorithm</key>
			<string>SHA256</string>
			<key>hash</key>
			<string>91bd615ccbed8b9e02a9ecd5c142687d021c6aac67edd9eb5a50f0ba29a9c5c8</string>
		</dict>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocNanoZone</key>
		<string>0</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Codex uses Apple Events to control Mac apps on your behalf.</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>This app needs access to audio capture</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Codex needs access to your microphone for voice input.</string>
	<key>NSPrefersDisplaySafeAreaCompatibilityMode</key>
	<false/>
	<key>NSPrincipalClass</key>
	<string>AtomApplication</string>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>mNfr1v9t63BfgDtlw4C8lRvSY6uMggIXABDOCi3tS6k=</string>
</dict>
</plist>
